@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: "glyph";
    src: url("../fonts/glyphicons-halflings-regular.woff") format('woff');
}
.glyphicon {
	font-family:glyph;
	position:relative;
	top:4px;
}
a .glyphicon {
	text-decoration:none;
	color:inherit;
}
a {
	text-decoration:none;
	color:black;
}
.b-close {
	font-size:80px; 
	position:absolute; 
	right:-12px; top:-14px;
	color:#CFCFCF;
}
.link {
	padding:10px;
	display:block;
	}
	
.hidden { 
	display: none;
}

html, body {
	height: 1080px;
	margin: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
	overflow:hidden;
	color:#FFF;
	background-color:transparent;
}
.wrapper {
	position:absolute;
	top:0;
	left:0;
	height:1080px;
	width:1920px;
	overflow: hidden;
	transition:all ease 1s;
	z-index:10;
}
.wrapper-slide-right {
	left:290px;
}
.wrapper-black-overlay {
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	position:absolute;
	left:0;
	right:0;
	z-index:500;
}
.responsiveHeight {
	position:absolute; top:0; left:0; width:1920px; height:1080px; z-index:1;
}
.menu1 {
	left:0;
}
.menu2 {
	left:33%;
}
.menu3 {
	left:66%;
}
.nav-bottom {
	position:absolute;
	bottom:0;
	z-index:100;
}
.nav-right {
	position:absolute;
	right:0;
	top:260px;
	z-index:20;
}
.nav-left {
	position:absolute;
	left:0;
	bottom:0;
	z-index:2;
}
#nav-left-div {
	height:100%;
	background-color:#333;
}
.home-finder {
	position:absolute;
	bottom:0;
	z-index:10;
	left:760px;
}
.home-finder .menu_but {
	width:400px;
	padding:45px;
	font-size:48px;
}
.nav-bottom .menu_but {
	float:left;
	padding:40px 30px;
	font-size:28px;
}
.nav-right .menu_but {
	width:235px;
	padding:25px;
	text-align:left;
}
.nav-left .menu_but {
	width:235px;
	padding:25px 25px 25px 40px;
	text-align:left;
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
	font-size:28px;
}
.menu_but {
	display:block;
	text-align:center;
	background-color:rgba( 0, 0, 0, 0.5 );
	margin:0;
	color:#fff;
	font-size:24pt;
	transition:all 1s ease;
	text-decoration:none;
	border:0px solid #999;
}
.menu_but.smaller {
	/*font-size:18pt;
	padding:15px 35px 15px 15px;*/
}

.nav-right .selected {
	background-color:rgba( 255,255,255, 0.5 );
	color: #333;
}

.cont {
	background-color:rgba(0,0,0,.5);
	width:500px;
	height:500px;
	color:#FFF;
	padding:50px;
	transition:all 2s ease;
	position:absolute;
	top:100%;
}
.cont:target {
	top:0;
}
.house-info {
	position:absolute;
	right:0;
	text-align:right;
	z-index:10;
}
.house-info .house-name {
	text-align:right;
	color:#FFF;
	font-size:80pt;
	padding:20px 60px 10px 10px;
	text-shadow: 2px 2px #666;
}
.house-info .house-icons {
	background-color:rgba(255,255,255,.9);
	padding:10px 0px 10px 30px;
	width:300px;
	position:absolute;
	right:0;
}
.house-info .house-icons .number {
	font-size:22pt;
	display:block;
	float:left;
	margin-right: 8px;
    margin-top: 8px;
}
.house-info .house-icons .icon {
	display:block;
	float:left;
	margin-right:30px;
}
.house-info .house-icons .icon.last {
	margin-right:0;
}
.floorplan-div {
	background-color: rgba(255, 255, 255, 0.9);
    margin-top: 75px;
    position: absolute;
    right: 15px;
    width: 300px;
	text-align:center;
}
.floorplan-div img {
	height:200px;
	padding:25px;
}
.clear {
	clear:both;
}

/* PROMOTIONS
------------------------------*/

.promo-wrapper {
	position:absolute;
	top:100%;
	left:0%;
	z-index:100;
	background-color:rgba(0,0,0,.5);
	width:100%;
	height:100%;
	transition:all 1s ease;
}
.promo-cont {
	background-color:white;
	padding:40px;
	margin:40px;
	position:relative;
	background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6+ */
}
.promo-wrapper.show {
	top:0%;
}
.promo-cont h1 {
	font-size:40px;
	font-weight:normal;
	padding-bottom:20px;
	border-bottom:solid 1px #999;
	margin-bottom:20px;
}
.promo-cont .hero {
	text-align:center;
}
.promo-cont .hero img {
	width:80%;
}
.promo-cont ul li {
	margin:15px;
	float:left;
	width:31.5%;
}
.promo-cont ul li img {
	width:100%;
}

/* SHARE
------------------------------*/
.share-wrapper {
	position:absolute;
	top:0%;
	left:100%;
	z-index:100;
	background-color:rgba(0,0,0,.5);
	width:100%;
	height:100%;
	transition:all 1s ease;
}
.share-cont {
	background-color:white;
	padding:40px;
	margin:260px 660px 0;
	position:relative;
	background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6+ */
	font-size:34px;
	text-align:center;
}
.share-wrapper.show {
	left:0%;
}
.share-cont h1 {
	font-size:40px;
	font-weight:normal;
	padding-bottom:20px;
	border-bottom:solid 1px #999;
	margin-bottom:20px;
}
.share-cont .desc {
	padding-bottom:30px;
	font-size:26px;
	line-height:125%;
}
.share-cont .email-form input {
	font-size:30px;
	display:block;
	margin:15px auto 10px;
	padding:10px 14px;
	border-radius: 4px;
	text-align:center;
}
.share-cont .email-form input[type=checkbox] {
	width:1.5em; 
	height:1.5em;
	display:inline-block;
	position:relative;
	top:7px;
	margin-left:5px; 
}
.share-cont .email-form .checkbox-div {
	padding-bottom:50px;
}
.share-cont .email-form .checkbox-div .checkbox-text {
	display:inline-block;
	font-size:30px;
}
.share-cont .email-form button {
	font-size:30px;
	padding:5px;
	height:80px;
	width:200px;
}